
.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

.top-buffer {
    margin-top:40px; 
}

#pickgame{
    text-align: center;
}

.card-header img{
    width: 1.5rem;
    height: 1.5rem;
}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:50%;    
}

.carousel-item:after{
    background:rgba(0,0,0,0.4);
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

}

* {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  .page-wrap {
    min-height: 100%;
    margin-bottom: -152px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    height: 152px; 
  }

@media (max-width: 500px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    
}